* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10%;
  border-bottom: 1px solid #000;
  z-index: 10;
}
.logo {
  height: 35px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
  font-weight: 500;
  cursor: pointer;
}
.nav-btn {
  background: #000;
  color: #fff;
  font-size: 16px;
  padding: 15px 25px;
  border: 0;
  outline: 0;
  border-radius: 40px;
  cursor: pointer;
}
.header {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#eefff9 0%, #ffccc1 49%, #dcdbff 100%);
  padding: 0 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 0;
  outline: 0;
  display: inline-flex;

  font-size: 18px;
  cursor: pointer;
}
.header h1 {
  margin-top: 100px;
  font-size: 11vw;
  line-height: 11vw;
}
.btn-container {
  margin: 20px 0;
}
.btn-dark {
  background-color: #000;
  color: #fff;
  padding: 10px 10px 10px 10px;
  border-radius: 40px;
}
.btn-light {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 10px 10px 10px;
  border-radius: 40px;
}
.header p {
  max-width: 360px;
  font-weight: 500;
}
.aboutme {
  color: #fff;
}
h3 {
  margin: 5% 5% 0 5%;
  font-size: 2vw;
}
.aboutme p {
  margin: 1.5% 5% 0 5%;
  text-align: justify;
}

.main {
  display: flex;
  background-color: #000000;
  margin: 0%;
}
.photo {
  width: 350px;
  height: auto;
  margin-top: 20%;
}
.project-preview h3 {
  color: #fff;
}
h3 {
  color: #fff;
}
body {
  background: linear-gradient(#eefff9 0%, #ffccc1 49%, #dcdbff 100%);
  background-attachment: fixed;
}
.footer {
  background-color: #000;
  color: #fff;
  display: flex;
  padding: 0 5% 0% 5%;
  gap: 15%;
}
.contact {
  line-height: 35px;
}

.form {
  padding: 1%;
  line-height: 35px;
}
.contact p {
  margin-top: 15px;
}
.project-preview {
  display: inline-block;
  padding: 0 5% 0% 5%;
  line-height: 45px;
}
.aboutme hr {
  margin-left: 5%;
  margin-right: 5%;
}
/*---new add on---*/
.project {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
  text-align: center;
  width: 300px;
  height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project img {
  width: 100%;
  height: 160px;
}

.project h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.project a {
  background-color: #007bff;
  color: white;
  display: inline-block;
  margin: 5px 0 10px;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}

.project a:hover {
  background-color: #0056b3;
}

/* ------ animation ---------*/

.header h1 span {
  background: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 0%;
}
.header h1 span:first-child {
  animation: textcolor1 2s linear infinite alternate;
}
.header h1 span:last-child {
  animation: textcolor2 2s linear infinite alternate;
}
@keyframes textcolor1 {
  0% {
    background-size: 0%;
  }
  40% {
    background-size: 100%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes textcolor2 {
  0% {
    background-size: 0%;
  }
  40% {
    background-size: 0%;
  }
  100% {
    background-size: 100%;
  }
}

.menu-icon {
  display: none;
}
/* --------- Media Queries for navbar ---------*/

@media only screen and (max-width: 600px) {
  nav ul {
    position: absolute;
    width: 100%;
    background: #000;
    color: #ffffff;
    left: 0;
    top: 60px;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .nav-btn {
    display: none;
  }
  nav .label {
    width: 150px;
  }
  nav ul li {
    margin: 10px;
    font-size: 14px;
  }
  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .show-menu {
    max-height: 200px;
  }
  .aboutme p {
    margin: 10px 5%;
    font-size: 14px;
    text-align: justify;
  }
  .aboutme h3 {
    font-size: larger;
  }
  .main {
    display: block;
    width: 100%;
    padding: 20px 0;
  }
  .photo {
    width: 80%;
    margin-top: 10%;
  }
  body {
    width: 100%;
    background-attachment: fixed;
  }
  .footer {
    width: 100%;
    display: inline-block;
    padding: 20px;
    text-align: center;
  }
  .header h1 {
    font-size: 11vw;
    line-height: 11vw;
  }
  .header P {
    max-width: 100%;
    font-size: small;
  }
  .btn-container {
    margin: 10px 0;
  }
  .contact p,
  .form {
    text-align: left;
    line-height: 1.6;
  }
  .project {
    width: 100%; /* Make project previews take full width */
    margin: 20px 0;
  }
  .project img {
    width: 90%;
    height: auto;
    margin: 0 auto; /* Center the image */
  }
  .footer {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column; /* Makes the footer items stack vertically */
    align-items: center;
    padding: 20px;
  }
  .contact,
  .form {
    width: 100%;

    margin-bottom: 20px;
  }
  h3 {
    font-size: larger;
  }
}
/* ------ Media Queries for header content ------- */
